*{
    margin:0;
    border:0;
}

#mainpage{
    margin-top: 1em;    
    
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly; 

    width: 99vw;
    height: 98vh;    
}

.sidebar{
    display:flex;   
    align-items: center;  
    justify-content: center;  
    
    width: 14vw;
    height: 90vh;
     
    background-color:lightgray;
    box-shadow: 0 0 8px lightgrey;
}

.middle-container{
    display:flex;
    flex-wrap: wrap;  
    justify-content: space-evenly;     
    
    width: 80vw;
    height: 90vh;    

    /* border: 2px solid black; */
    /* background-color:lightgray; */
}
 
.data{
    display:flex;    
    Width: 16vw;
    height:36vh;
    
    /* border: 2px solid black;*/
    background-color:lightgray;
    box-shadow: 0 0 8px lightgrey;
}

#datapoints{
    display:flex;
    justify-content: center;    
} 

 .WebVisitor {
    display: flex;    
    flex-direction: column;
    align-items:center;    
    box-shadow: 0 0 8px lightgrey;
    width: 65vw;
    height: 50vh;
    background-color:lightgray;    
}  

#Web-innerDiv{             
    width: 55vw;
    height: 35vh;
    background-color:gray;    
    box-shadow: 0 0 8px lightslategrey;    
}